.customRadio {
  display: none;
}
.customRadio + label {
  line-height: 20px;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.customRadio + label:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #cdcdcd;
  text-align: center;
  line-height: 18px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -ms-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -o-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
}
.customRadio + label:after {
  content: none;
  width: 8px;
  height: 8px;
  background-color: #e36566;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
}
.customRadio + label:hover:before,
.customRadio + label:focus:before {
  -webkit-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -ms-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -o-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.customRadio:checked + label:before {
  -webkit-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -ms-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -o-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.customRadio:checked + label:hover:before,
.customRadio:checked + label:focus:before {
  -webkit-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -ms-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  -o-box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.15);
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.customRadio:checked + label:after {
  content: '';
}
.customRadio:disabled + label {
  cursor: no-drop;
}
.customRadio:disabled + label:before,
.customRadio:disabled + label:after {
  opacity: 0.5;
}
