$customRadio_height: 20px !default;
$customRadio_width: 20px !default;
$customRadio_borderWidth: 1px !default;

$customRadio-label_marginLeft: 15px !default;

$customRadio-witness_height: 8px !default;
$customRadio-witness_width: 8px !default;