$customRadio_borderColor: #cdcdcd !default;
$customRadio_borderColor-_hover: $customRadio_borderColor !default;
$customRadio_borderColor-_checked: $customRadio_borderColor !default;
$customRadio_borderColor-_hover-_checked: $customRadio_borderColor !default;

$customRadio_bgColor: white !default;
$customRadio_bgColor-_hover: $customRadio_bgColor !default;
$customRadio_bgColor-_checked: $customRadio_bgColor !default;
$customRadio_bgColor-_hover-_checked: $customRadio_bgColor !default;

$customRadio_boxShadow: 0 1px 5px 0 fade(#333, 15%) !default;
$customRadio_boxShadow-_hover: $customRadio_boxShadow !default;
$customRadio_boxShadow-_checked: $customRadio_boxShadow !default;
$customRadio_boxShadow-_hover-_checked: $customRadio_boxShadow-_hover !default;

$customRadio_opacity-_disabled: 0.50 !default;

$customRadio-witness_bgColor: #e36566 !default;