<html>
    <head>
        <link rel="stylesheet" href="style.css" charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
      {% embed '../../custom-radio.html.twig' %}
      {% endembed %}
    </body>
</html>
