.doc-section {
  border: 1px solid #E1E1E8;
  border-radius: 3px;
}
.doc-section + .doc-section:before {
  content: "";
}
.border-left {
  border-left: 1px solid #EEE;
}
.doc-title {
  padding: 15px;
  color: #222;
  font-weight: bold;
  background-color: #F7F7F9;
}
.doc-example {
  padding: 15px;
}
.doc-code {
  display: block;
  background-color: #F7F7F9;
  padding: 15px;
  color: #333;
  position: relative;
}
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  background-color: #FFF;
  border: 0;
  border-bottom: 1px solid #E1E1E8;
  border-left: 1px solid #E1E1E8;
  border-radius: 0 0 0 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.indent-1 {
  margin-left: 30px;
}
.indent-2 {
  margin-left: 60px;
}
.indent-3 {
  margin-left: 90px;
}
.indent-4 {
  margin-left: 120px;
}
.indent-5 {
  margin-left: 150px;
}
.open-tag:before {
  content: "<";
}
.open-tag:after {
  content: ">";
}
.close-tag:before {
  content: "</";
}
.close-tag:after {
  content: ">";
}
.tag {
  color: #2f6f9f;
}
.attr {
  color: #4f9fcf;
}
.value {
  color: #d44950;
}
.value:before {
  content: "\"";
}
.value:after {
  content: "\"";
}
